<footer>
  <div class="container">
    <h5 class="center"> {{ site.data.es.contact_us }} </h5>
		<div class="container">
			<div class="row">
				<div class="col l6 m12 s12">
					<h5>Oficina Principal</h5>
					<ul>
						<li>Dirección: Calle 103 No. 18ª-48 oficina 502</li>
						<li>PBX: 6234484</li>
					</ul>
					<h5>Emails</h5>
					<ul>
						<li>galeriamas@fincaraiz.com</li>
						<li>lgi.panama@fincaraiz.com</li>
					</ul>
				</div>
				<div class="col l6 m12  s12">
					<h5 class="center">Sucursales</h5>
					<ul class="col offset-l2">
						<li>Cali: gonzalozamorano@fincaraiz.com</li>
						<li>Medellín: paulo.gomez@fincaraiz.com</li>
						<li>Costa: paola.estrada@fincaraiz.com</li>
						<li>Bucaramanga: andreaorduz@fincaraiz.com</li>
						<li>Villavicencio: ximenaruiz@fincaraiz.com</li>
						<li>Eje Cafetero: jennymurillo@fincaraiz.com</li>
						<li>Oficina Panamá: rinaestrada@fincaraiz.com</li>
					</ul>
				</div>
       </div>
     </div>
</footer>