<header>
  <nav class="grey lighten-3">
    <div class="nav-wrapper">
      <div class="col s12">
        <a class="brand-logo center black-text hide-on-small-only">{{ site.data.es.galeria }}</a>
				<ul class="left hide-on-small-only">
          <li>
            <a class="black-text" href="{{ site.data.links.app_general }}">
							 <i class="small mdi-action-info-outline left"></i>
              Ingresar
            </a>
          </li>
        </ul>
        <ul class="right hide-on-small-only">
          <li>
            <a class="black-text" href="{{ site.data.links.app }}">
              <i class="small mdi-action-account-box right"></i>
              {{ site.data.es.sign_in }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
